<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Mental Health Prediction</title>
</head>
<body background="MH.jpg" style="background-repeat:no-repeat;background-size:100%">
<center>
    <h1>Mental Health Prediction</h1>

    <p>Mental health affects your emotional,psychological and social well-being.It affects how we think,feel,and act.It also helps determine how we jandle stress,relate to others,and make choices.In the workplace,<br>communication and
    inclusion are keys skills for successful high performing teams or employees.The impact of mental health to an organization can mean an increase of absent days from work and a decrease in productivity and engagement.In the United
    States,approximately 70% of adults with depression are in the workforce.Employees with depression will miss an estimated 35 million workdays a year due mental illness.</p><br>

    <form method="POST" action="/pred">
        <button type="submit" class="btn btn-primary btn-block btn-large"  style="height:30px;width:80px">Proceed</button>
    </form>
</center>

</body>
</html>