<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>output</title>
</head>
<body background="gray1.jpg" style="background-repeat:no-repeat;background-size:100%">
<center>
 <h1>This person require mental health treatment</h1>
 <form method="POST" action="/home1">
        <button type="submit" class="btn btn-primary btn-block btn-large" style="height:30px;width:80px">HOME</button>
    </form><br><br>
    <form method="POST" action="/pred1">
        <button type="submit" class="btn btn-primary btn-block btn-large"  style="height:30px;width:80px">PREDICT</button>
    </form>
</center>

</body>
</html>